/* Nav Styles */

.anchors {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: left;
  text-decoration: none;
  color: black
}




/* Quotation Mark Styles */

.quotationMark {
  font-size: 100px; 
  color: black;
  line-height: 0.8;
}

.quotationMark2 {
  font-size: 100px; 
  color: blackg;
  line-height: 0.8;
  text-align: right;
}

.text {
  font-size: 30px; 
  font-weight: bold;
  margin: 10px;
}

.offsetText {
  text-align: right;
  margin-right: 10%;
}